@{
    ViewData["Title"] = "Home Page";
}

<partial name="_LeftNavbarPartial" />

<div class="">
    <div class="right-main-panel">
        <div>
            <partial name="_TopNavbarPartial" />
        </div>
        <div class="text-center inner-panel">
            <br />
            <h1 class="display-2">Welcome TO <br/>SQ014 Capstone Project</h1>
            <p>
                This is your final project for your training period here at <a href="">Decagon</a>.<br />
                Give it your best, be part of every activity and above all strive to do your task and learn from it.
            </p>
            <p>
                This project is a currirulum management system (CMS). It is intended to be a platform to <br />support improve
                student's learning culture and study style.
            </p>
        </div>
    </div>
</div>

