<div class="top-nav-panel display-content-in-center">
    <div class="inner-panel">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="flex">
                        <div class="right">
                            <p>Welcome, Facilitator<i class="bi bi-bell ms-10"></i><p>
                        </div>
                        <div class="left input-container">
                            <label for="search-input" class="placeholder-label">
                                <i class="bi bi-search gray"></i>
                                @*<i class="fas fa-search gray"></i>*@
                            </label>
                            <input type="text" id="search-input" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</div>