<div class="top-nav-panel display-content-in-center">
    <div class="inner-panel">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3 height">
                <div class="container-fluid nav-wrapper">

                    @*       <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Classroom" asp-action="QuizPage">Quiz Page</a>
                    </li>
                    </ul>
                    </div>*@


                    @*<div class="first-div border-left">
                    <div class="inner">
                    <div class="first-div-text">
                    <p>41% Complete <span>17/37 Steps</span></p>
                    </div>
                    <div class="range">
                    <img src="~/images/Prog.png" asp-append-version="true" />
                    </div>
                    </div>
                    </div>
                    <div class="second-div border-left flex-con">
                    <div class="inner">
                    <div class="mb-autos">
                    <img src="~/images/prev.png" asp-append-version="true" />
                    </div>
                    <div class="text-color mb-autos">
                    <p>Previous Lesson</p>
                    </div>
                    </div>
                    </div>
                    <div class="third-div text-color border-left flex-con">
                    <div class="inner">
                    <div class="text-color mb-autos">
                    <p>Previous Lesson</p>
                    </div>
                    <div class="mb-autos">
                    <img src="~/images/next.png" asp-append-version="true" />
                    </div>
                    </div>
                    </div>
                    <div class="fourth-div bg-primary">
                    <div>SA</div>
                    </div>*@

                    @*<div class="d-flex flex-row mt-2">*@
                    <div class="d-flex flex-row my-2  full-width">
                        <section class="d-flex flex-column justify-content-center align-items-center px-3 border-end border-1 w-40">
                            @*<div>
                            <p><span class="text-primary">41% Complete</span> 17/37 Steps</p>
                            </div>*@
                            <div class="progress-wrapper">
                                <p>41% Complete <span>17/37 Steps</span></p>
                                <div class="progress" style="width: 100%; height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 41%;" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </section>
                       <a href ="">
                            <section class="d-flex flex-column justify-content-center align-items-center px-3 border-end border-1 text-primary fw-bold">
                                <p class="mb-0">&lt; &nbsp; Previous Lesson</p>
                            </section>
                       </a>
                        <a href ="">
                            <section class="d-flex flex-column justify-content-center align-items-center px-3 border-end border-1 text-primary fw-bold">
                                <p class="mb-0">Next Lesson &nbsp; &gt;</p>
                            </section>
                        </a>
                        <a href ="">
                            <section class="d-flex flex-column align-items-center justify-content-center px-3">
                                <p class="fw-bold rounded-circle bg-primary text-white d-inline-block text-center p-0 m-0" style="width: 40px; height: 40px; line-height: 40px;">SA</p>
                            </section>
                        </a>
                    </div>

                    @*</div>*@
                </div>
            </nav>
        </header>
    </div>
</div>


