<div class="logo  br pb-3">
    <div class="logo-img-box">
        <img src="~/images/logo.png" asp-append-version="true" />
    </div> <span style="color:black; font-size:32px; font-weight:bold">CMS</span>
</div>