<div class="top-nav-panel display-content-in-center">
    <div class="inner-panel">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                                       aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <div class="top-panel d-flex gap-2">
                            <div class="Welcome-facilator valign-text-middle">Welcome, Facilitator</div>
                            <img class="notification" src="~/images/Vector.png" alt="Notification" />
                        </div>
                        <div class="Search-field">
                            <span class="Searchfield-base">
                                <img class="icon" src="~/images/search.png" alt="icon/search" />
                                <div class="text-2">
                                    <input type="text" class="text-3" placeholder="Search">
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</div>