@{
    ViewData["Title"] = "Student Dashboard";
}
<style>
    body {
        margin: 0px;
        padding: 0px;
    }



    .container {
        margin: auto;
        padding: 0px;
        width: 100%;
    }



    .navbar {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 3rem;
        margin-left: 0px;
        margin-top: 0px;
        display: flex;
    }



    .img {
        margin-left: 4rem;
        margin-top: 0.6rem;
    }



    .header {
        position: relative;
        margin-top: 0rem;
        font-family: "Poppins",sans-serif;
        margin-top: 0.1rem;
        margin-left: 0.5rem;
    }



    .body {
        width: 100%;
        display: flex;
    }



    .login {
        width: 100%;
        width: 50%;
        height: 100vh;
        align-items: center;
    }



    .login-wrapper {
        width: 55%;
        height: 26rem;
        position: relative;
        align-self: center;
        justify-items: center;
        left: 20%;
        margin-top: 20%;
        box-shadow: rgb(161,165,165,0.5)0rem 0.1rem 0.1rem 0.1rem;
    }



    .login-info {
        width: 80%;
        position: relative;
        margin-left: 10%;
        top: 1.3rem;
    }



    #head3 {
        line-height: 2px;
    }



    #parag3 {
        line-height: 2px;
        color: #667085;
    }



    .login-details {
        width: 80%;
        position: relative;
        margin-left: 10%;
        top: 1.3rem;
        margin-top: 1.3rem;
        height: 19rem;
    }



    .login-google {
        position: relative;
        height: 2rem;
    }



    .btn-4 {
        width: 19.7rem;
        position: relative;
        padding-top: 0.5rem;
        height: 2.3rem;
        display: flex;
        border-radius: 5px;
        border: solid 0.1rem #caced1;
        background-color: white;
    }



    .img-5 {
        margin-left: 4rem;
        margin-right: 0.8rem;
    }



    #parg-4 {
        font-family: "Poppin",sans-serif;
        font-size: 16px;
        margin-top: -0.3rem;
        color: #2a2a2c;
    }



    .login-or {
        position: relative;
        height: 2rem;
    }



    #login-detail {
        position: relative;
        height: 2rem;
    }



    #img-2 {
        margin-left: 4rem;
        margin-right: 0.8rem;
    }



    #parag4 {
        font-family: "Poppins",sans-serif;
        font-size: 16px;
        margin-top: -0.3rem;
        color: #2a2a2c;
    }



    input {
        margin-top: 0.6rem;
        margin-bottom: 0.5rem;
        width: 18.3rem;
        padding: 10px;
        border: solid 0.1rem #caced1;
    }



    .anchor {
        margin-top: 1rem;
        position: relative;
        color: #1570ef;
        text-decoration: none;
    }



    #btn-6 {
        margin-top: 0.8rem;
        position: relative;
        width: 19.8rem;
        height: 2.3rem;
        color: white;
        background-color: #1570ef;
        border: none;
        border-radius: 3px;
    }

    .gray-outline {
        border: 1px solid #D9D9D9;
    }

    .ft-70 {
        font-size: 70px;
    }

    .br-8 {
        border-radius: 8px
    }

    .body-image {
        width: 720px;
        height: 938px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: 0rem;
    }

    .bg-gray {
        background-color: #D0D5DD
    }

    .gray-color {
        color: #667085;
    }

    .bg-blue {
        background-color: #1570EF;
    }

    .align-center {
        display: flex;
        align-items: center
    }

    .flex-between {
        display: flex
    }

    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .flex-end {
        display: flex;
        justify-content: flex-end;
        align-items: center
    }

    .flex-center {
        display: flex;
        justify-content: center;
    }

    .flex-evenly {
        display: flex;
        justify-content: space-evenly
    }

    .dot-icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    .column-flex {
        display: flex;
        flex-direction: column
    }

    .ms-10 {
        margin-right: 50px
    }

    .flex1 {
        flex: 1
    }

    .flex3 {
        flex: 3
    }

    .flex5 {
        flex: 5
    }

    .line {
        background-color: #E0EAFF;
        height: 8px
    }

    .fl-ht {
        height: 100%
    }

    .br-8 {
        border-radius: 8px
    }
</style>


<div class="bg-white">
    <header class="container d-flex flex-wrap justify-content-between py-3 mb-4">
        <partial name="_LogoPartial" />

        <div>
            <a href="#" class="btn btn-outline-primary border-0 fw-bold mx-4">My Account</a>
            <a href="#" class="btn btn-primary fw-bold">Logout</a>
        </div>
    </header>
</div>


<section class="profile-section px-3 py-5 bg-white">
    <div class="container mb-2">
        <div class="d-flex flex-column align-items-center">
            <div class="card border-0" style="">
                <img src="~/images/Ellipse1.png" class="card-img-top" alt="student-profile">
                <div class="card-body text-center">
                    <h3 class="card-title fw-bolder">Showstopper Ace</h3>
                    <p style="color: #667085; font-weight: 500;" class="card-text m-0">Backend Track: Node</p>
                    <div class="my-3">
                        <span style="color: #98A2B3; border: 1px solid #98A2B3; border-radius: 25px;" class="p-2 card-text">Squad Number: SQ014</span>
                    </div>
                    <a href="#" class="text-primary fw-bold">Edit Profile</a>
                </div>
            </div>



            <div class="d-flex flex-row mt-2">
                <div class="d-flex flex-row my-2">
                    <section class="d-flex flex-column align-items-center px-3 border-end border-1">
                        <p class="ft-70 mb-0">3</p>
                        <p>Courses</p>
                    </section>
                    <section class="d-flex flex-column align-items-center px-3 border-end border-1">
                        <p class="ft-70 mb-0">0</p>
                        <p>Completed</p>
                    </section>
                    <section class="d-flex flex-column align-items-center px-3 border-end border-1">
                        <p class="ft-70 mb-0">0</p>
                        <p>Quiz taken</p>
                    </section>
                    <section class="d-flex flex-column align-items-center px-3">
                        <p class="ft-70 mb-0">0</p>
                        <p class="text-primary">Scores earned</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

@*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@


<div class="p-3"></div>
<section class="profile-section px-3 py-5 bg-white">
    <div class="container">
        <div class="bg-blue p-4 br-8">
            <div class="flex-between">
                <h1 class="text-light">Curriculum</h1>
                <div class="flex-evenly text-white">
                    <div>
                        <h4>Frontend</h4>
                    </div>
                    <div class="text-center">
                        <h4 class="mx-5 fw-bold">Backend (Node)</h4>
                        <span class="dot-icon bg-white"></span>
                    </div>
                    <div>
                        <h4 class="me-5">Agile</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-end py-3">
            <div class="flex1">
                <p class="fw-bold gray-color my-2">Backend (Node)</p>
            </div>
            <div class="flex-end flex3 line br-8">
                <div class="flex1 fl-ht bg-blue br-8"></div>
                <div class="flex3 fl-ht"></div>
            </div>
            <p class="mt-3 ms-2 fw-bold">21%</p>
            <div class="flex1">
                <p class="text-end fw-bold gray-color mt-2">Last activities 2:20pm</p>
            </div>
        </div>

        <div class="course-objective bg-white d-flex justify-content-between p-3 align-items-center">
            <p class="fs-3 fw-bold mb-0" style="display: flex; align-items: center;">Course Objective</p>
        </div>

        <div class="py-3 mx-3 fs-4 mb-5">
            <p>
                Curriculum manager, as the name implies, is  a platform where decadevs can access their curriculum and learning materials in an organized and user intuitive structure to enable them to have access to their learning resources from the beginning of their program till the end.
            </p>
            <ul>
                <li>Comfortably work with backend engineers</li>
                <li>Comfortably work with backend engineers</li>
                <li>Comfortably work with backend engineers</li>
                <li>Comfortably work with backend engineers</li>
                <li>Comfortably work with backend engineers</li>
            </ul>
        </div>
    </div>
</section>

<div class="p-3"></div>



<section class="profile-section px-3 py-5 bg-white">

    <div class="container">
        <div class="course-objective bg-white d-flex justify-content-between p-3 align-items-center">
            <p class="fs-3 fw-bold mb-0" style="display: flex; align-items: center;">Course content</p>
        </div>
   



        @*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@


        <div class="bg-white">
            <div id="course-content" class="container">
                <div class="course-tile my-4 px-3">
                    <h3 class="fw-bold">Week 1</h3>



                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <div class="br-8 p-3 d-flex flex-row justify-content-between align-items-center fw-bold">
                                <p class="mb-0"><img src="~/images/Succeess.png" class="me-2" />Introduction to VSCode</p>
                                <div class="d-flex flex-row justify-content-between align-content-center">
                                    <p class="mb-0 px-2 border-2">100% Complete</p>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="course-tile my-4 px-3">
            <h3 class="fw-bold">Week 2</h3>
        </div>
        <div class="gray-outline br-8">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">


                    <h2 class="accordion-header" id="acc-head">
                        <button style="margin: 0;" class="accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            <div class="accordion-header-content d-flex flex-column w-100">
                                <p class="accordion-header-title mb-1"><img src="~/images/Succeess.png" width="20px" class="me-2" />Introduction to Node</p>
                                <div class="accordion-header-info d-flex flex-row justify-content-between">
                                    <p class="accordion-header-subtitle fw-bold ms-4 me-2">2 topics</p>
                                    <span class="accordion-button-expand"></span>
                                </div>
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="accordionExample2" data-bs-parent="#accordion2">
                    <div class="accordion-body p-0">
                        <div class="course-content-list">
                            <div class="br-8 p-3 d-flex flex-row justify-content-between align-items-center fw-bold">
                                <p class="mb-0"><img src="~/images/Icon2.jpg" class="me-2" />Lesson Content</p>
                                <div class="d-flex flex-row justify-content-between align-content-center">
                                    <p class="mb-0 px-2 border-end border-bottom-5">0% Complete</p>
                                    <p class="mb-0 px-2">0/2</p>
                                </div>
                            </div>
                            <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />What is node?</div>
                            <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />Node color and background color</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@
        <br />

        <div class="course-tile my-4 px-3">
            <h3 class="fw-bold">Week 3</h3>
        </div>
        <div class="gray-outline br-8">
            <div class="accordion" id="accordionExample3">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="acc-head3">
                        <button style="margin: 0;" class="accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            <div class="accordion-header-content d-flex flex-column w-100">
                                <p class="accordion-header-title mb-1"><img src="~/images/Succeess.png" width="20px" class="me-2" />Introduction to CSS</p>
                                <div class="accordion-header-info d-flex flex-row justify-content-between">
                                    <p class="accordion-header-subtitle fw-bold ms-4 me-2">3 topics</p>
                                    <span class="accordion-button-expand"></span>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="acc-head3" data-bs-parent="#accordionExample3">
                        <div class="accordion-body p-0">
                            <div class="course-content-list">
                                <div class="p-3 d-flex flex-row justify-content-between align-items-center fw-bold">
                                    <p class="mb-0"><img src="~/images/Icon2.jpg" class="me-2" />Lesson Content</p>
                                    <div class="d-flex flex-row justify-content-between align-content-center">
                                        <p class="mb-0 px-2 border-end border-2">0% Complete</p>
                                        <p class="mb-0 px-2">0/3</p>
                                    </div>
                                </div>
                                <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />What is CSS?</div>
                                <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />CSS color and background color</div>
                                <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />CSS fonts</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@
        <div class="course-tile my-4 px-3">
            <h3 class="fw-bold">Week 4</h3>
        </div>
        <div class="gray-outline br-8">
            <div class="accordion" id="accordionExample4">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="acc-head4">
                        <button style="margin: 0;" class="accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                            <div class="accordion-header-content d-flex flex-column w-100">
                                <p class="accordion-header-title mb-1"><img src="~/images/Succeess.png" width="20px" class="me-2" />Css continued</p>
                                <div class="accordion-header-info d-flex flex-row justify-content-between">
                                    <p class="accordion-header-subtitle fw-bold ms-4 me-2">3 topics</p>
                                    <span class="accordion-button-expand"></span>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="acc-head4" data-bs-parent="#accordionExample4">
                        <div class="accordion-body p-0">
                            <div class="course-content-list">
                                <div class="p-3 d-flex flex-row justify-content-between align-items-center fw-bold">
                                    <p class="mb-0"><img src="~/images/Icon2.jpg" class="me-2" />Lesson Content</p>
                                    <div class="d-flex flex-row justify-content-between align-content-center">
                                        <p class="mb-0 px-2 border-end border-2">0% Complete</p>
                                        <p class="mb-0 px-2">0/3</p>
                                    </div>
                                </div>
                                <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />What is CSS?</div>
                                <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />CSS color and background color</div>
                                <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />CSS fonts</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@
        <div class="course-tile my-4 px-3">
            <h3 class="fw-bold">Week 5</h3>
        </div>
        <div class="gray-outline br-8">
            <div class="accordion" id="accordionExample5">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="acc-head5">
                        <button style="margin: 0;" class="accordion-button py-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                            <div class="accordion-header-content d-flex flex-column w-100">
                                <p class="accordion-header-title mb-1"><img src="~/images/Succeess.png" width="20px" class="me-2" />Css continued</p>
                                <div class="accordion-header-info d-flex flex-row justify-content-between">
                                    <p class="accordion-header-subtitle fw-bold ms-4 me-2">3 topics</p>
                                    <span class="accordion-button-expand"></span>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="acc-head5" data-bs-parent="#accordionExample5">
                        <div class="accordion-body p-0">
                            <div class="course-content-list">
                                <div class="p-3 d-flex flex-row justify-content-between align-items-center fw-bold">
                                    <p class="mb-0"><img src="~/images/Icon2.jpg" class="me-2" />Lesson Content</p>
                                    <div class="d-flex flex-row justify-content-between align-content-center">
                                        <p class="mb-0 px-2 border-end border-2">0% Complete</p>
                                        <p class="mb-0 px-2">0/3</p>
                                    </div>
                                </div>
                                <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />What is CSS?</div>
                                <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />CSS color and background color</div>
                                <div class="p-3 list-group-item"><img src="~/images/Succeess.png" width="20px" class="me-2" />CSS fonts</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        @*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@
        <br />

        
</section>

<footer class="bg-dark mt-5 w-100 ft-20">
    <div class="container-sm">
        <div class="row pt-4 px-3">
            <div class="col-md-4">
                <h5 class="text-white mb-3">
                    <div class="logo">
                        <div class="logo-img-box">
                            <img src="~/images/logo.png" asp-append-version="true" />
                        </div> <span style="color: #fff; font-size:32px; font-weight:bold">CMS</span>
                    </div>
                </h5>
                <div class="ms-5">
                    <a href="#"><img src="~/images/Facebooklogo.png" /></a>
                    <a href="#"><img src="~/images/Twitter.png" class="ms-2" /></a>
                </div>
            </div>



            <div class="col-md-4 d-flex flex-column justify-content-start align-items-center">
                <h5 class="fs-3 text-white mb-3">Specializations</h5>
                <ul class="list-unstyled fs-4" style="list-style: disc; color: white;">
                    <li><a href="#" class="text-white">Frontend</a></li>
                    <li><a href="#" class="text-white">Backend</a></li>
                    <li><a href="#" class="text-white">Agile</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-end d-flex align-items-center justify-content-end">
                <h5 class="fs-3 text-white mb-3">Tel: 0803 000 0000</h5>
            </div>
        </div>
    </div>
</footer>
