@{
    ViewData["Title"] = "Forgot Password Page";
    
}

<link rel="stylesheet" href="~/css/PasswordAccount.css" />

<body>
    <main>
        <div class="header">

            <partial name="_LogoPartial" />

        </div>
        <div class="password">

            <h2 class="password__title">Forgot Password</h2>

            <p class="password__text">
                Enter the email associated with your account and we'll send an email with

                instruction to reset your password
            </p>
             <form action="" class="password__form">

                <div class="password__form--group">

                    <label for="email" class="password__form--label">Email</label>

                    <input type="email" name="email" id="email" class="password__form--input"

                        placeholder="Enter your email">
                </div>
                 <div class="password__form--group">
                    <button type="button" class="btn btn-primary password__form--button" data-bs-toggle="modal" data-bs-target="#myModal">
                        Reset Password
                    </button>
                    <a href="" class="password__form--link">Back to Login</a>
                </div>

              </form>
            <div id="myModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <h3>Check your mail</h3>
                            <p class="success-text-detail">
                                We sent a password reset link to your email. Please <br />
                                click the link to reset your password.
                            </p>
                            <p class="status-subtitle">Don't received an email? <a href="#">Click to Resend</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>