@{
    ViewData["Title"] = "Reset Password Page";
    //Layout = "~/Views/Shared/_PasswordLayout.cshtml";
}
<link rel="stylesheet" href="~/css/PasswordAccount.css" />
<body>

    <main>

        <div class="header">

            <partial name="_LogoPartial" />

        </div>

        <div class="reset__password">

            <h2 class="reset__title">Reset Password</h2>

            <form action="" class="password__form">

                <div class="reset__password__form--group">

                    <label for="new password" class="reset__password__form--label">New Password</label>

                    <input type="password" name="new password" id="new password" class="reset__password__form--input"
                           placeholder="Enter your new password">

                </div>

                <div class="reset__pin__form--group">

                    <label for="confirm password" class="reset__pin__label">Confirm Password</label>

                    <input type="password" name="confirm password" id="confirm password" class="reset__pin__form--input"
                           placeholder="Confirm your password">
                </div>


                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-form" data-bs-toggle="modal" data-bs-target="#myModal">
                        Reset Password

                    </button>
                </div>

            </form>

            <div id="myModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <div class="success-img">
                                <img src="~/images/Layer5.png" alt="Good" />
                            </div>
                        </div>
                        <div class="modal-body text-center">
                            <h4>Successful</h4>
                            <p class="success-text-detail">
                                Your password has been changed successfully.<br />
                                Login to access your account
                            </p>
                            <button class="btn btn-success" data-dismiss="modal"><span>Continue to Login</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>
