
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: hsl(216, 24%, 96%);
    font-family: 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    margin-bottom: 60px;
    margin-top: 40px;
}


.password {
    width: 451px;
    height: 351px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.password__title {
    font-size: 24px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    margin-bottom: 24px;
}

.password__text {
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 0%, 0%);
    margin-bottom: 24px;
}

.password__form {
    width: 100%;
}

.password__form--group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
}

.password__form--label {
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 0%, 0%);
    margin-bottom: 8px;
}

.password__form--input {
    width: 100%;
    height: 44px;
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    padding-left: 16px;
}

    .password__form--input::-webkit-input-placeholder {
        color: #C8C8C8;
    }

.password__form--button {
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: hsl(215, 87%, 51%);
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.password__form--link {
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 0%);
    color: hsl(215, 87%, 51%);
    text-decoration: none;
    margin-top: 16px;
    align-self: center;
}

    .password__form--link:hover {
        text-decoration: underline;
    }


modal-form {
    width: 441px;
}

.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 24px;
    border: none;
    height: 366px;
    width: 479px;
}

.modal-confirm h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    height: 34px;
    width: 189px;
    text-align: center;
    margin: 48px auto;
}

.success-text-detail {
    margin-bottom: 40px;
}


.reset__password {
    width: 452px;
    height: 351px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.reset__title {
    font-size: 24px;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    margin-bottom: 24px;
}

.password__form {
    width: 100%;
}

.reset__password__form--group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
}

.reset__password__form--label {
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 0%, 0%);
    margin-bottom: 8px;
}

.reset__password__form--input {
    width: 100%;
    height: 44px;
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    padding-left: 16px;
}

.password__form--input::-webkit-input-placeholder {
    color: #C8C8C8;
}


.reset__pin__form--group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
}

.reset__pin__label {
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 0%, 0%);
    margin-bottom: 8px;
}

.reset__pin__form--input {
    width: 100%;
    height: 44px;
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    padding-left: 16px;
}

.reset__pin__form--input {
    color: #C8C8C8;
}

.btn-form {
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: hsl(215, 87%, 51%);
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.modal-confirm {
    width: 525px;
}

    .modal-confirm .modal-content {
        padding: 20px;
        font-size: 16px;
        border-radius: 24px;
        border: none;
        height: 366px;
        width: 479px;
    }


    .modal-confirm h4 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 40px;
        font-weight: 700;
        line-height: 33.6px;
    }

.success-text-detail {
    margin-bottom: 24px;
}

.modal-confirm .success-img {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-top: 15px;
}


.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn, .modal-confirm .btn:active {
    color: #fff;
    background: #1570EF;
    width: 383px;
    height: 44px;
    text-decoration: none;
    line-height: normal;
    margin-bottom: 32px;
    border: none;
}

/*@import url('registration.css');*/

